MQTT_BROKER = 
MQTT_PORT = 
MQTT_TOPIC = 
MQTT_USERNAME = 
MQTT_PASSWORD = 

SERVER_PORT = 
SERVER_HOST = 

ORACLE_DB_USER= 
ORACLE_DB_PASSWORD= 
ORACLE_DB_CONNECT_STRING= 
DB_POOL_MIN= 
DB_POOL_MAX= 
DB_POOL_INC= 
OBJECT_STORAGE_NAMESPACE_NAME= 
OBJECT_STORAGE_BUCKET_NAME= 
OBJECT_STORAGE_REGION= 

JWT_SECRET= 

DEVICES_SIGNAL_PERIOD= 